.done{
    background-color: #f7b617; 
}
.second{
    color: white;
    background-color:#2b2b2b;
}

p{
    display: block;
    height: 100px;
    width: 200px;
    padding: 1em;

}
.third{
    text-transform: uppercase;
}